body{font:0.8em Verdana,Helvetica,Arial,sans-serif;margin:0;padding:0;text-align:left}
#top{position:fixed;display:block;z-index:4;height:26px !important;top:0;left:0;width:100%;font-family:georgia,serif;color:#fff;background:#000}
#top span{padding:3px;float:left;padding-left:7px;width:176px}
#menu{font-size:1em;min-width:600px;list-style-type:none;margin:0;padding:0}
#menu li{padding-top:2px;height:20px;float:left;margin-right:15px}
#menu a{padding:2px 3px 2px 3px;float:left;display:block;height:100%;color:#fff;text-decoration:none}
#menu a:hover{color:#000;background:#fff;cursor:pointer}
#menu a.d{color:#FFCC00}
#menu a.d:hover{color:#000;background:#FFCC00}
h1,h2{font-family:georgia,serif;font-weight:normal}
h1{font-size:1.6em;margin-bottom:14px}
h1 span{color:#333;font-size:0.87em;font-weight:normal}
h2{font-size:1.5em}
.h1{font-size:1.6em;margin-bottom:14px}
h2.top{margin-top:25px}
h3{font-weight:bold;font-size:1.0em;color:#333}
ul{list-style-type:square}
dt{font-family:georgia;font-size:1.2em;margin:15px 0 5px 0}
dd strong:hover{background:#000;color:#ccc !important}
table{border-collapse:collapse;font-size:1em;font-family:Verdana,sans-serif}
td{padding:0.2em}
code,pre{font-family:"Courier New",monospace;font-size:1em;background:#eee;border:1px #ddd solid;}
pre{padding:5px}
code{padding:0 1px 0 1px;}
.cmd:before{content:"$ "}
.root:before{content:"# "}
#content{;border-right:1px #eee solid}
#content,#comments{margin-top:40px}
#content,#comments,#fn{z-index:3;padding:0 16px 0 20px;margin-left:166px;max-width:821px}
#content a,#content a:visited,#comments a,#fn a,#idc-sortLinks a,#comments a:visited,#fn a:visited,#idc-sortLinks a:visited{color:#000;text-decoration:none;border-bottom:1px #000 solid}
#content a:hover,#fn a:hover,#idc-sortLinks a:hover{color:#fff;background:#000;border-bottom:1px #fff solid;border:none}
#content li{padding-bottom:1px}
#content .list li{padding-bottom:10px}
#content strong {color:#333}
#sidebar{left:0;position:fixed;width:166px;padding-left:10px;top:35px}
#logo{margin:9px 3px 20px 8px;height:150px;width:150px;background:url("/img/putty-logo.png?1385550724") no-repeat}
#logo a{display:block;width:100%;height:100%}
#l1{height:75px;width:90px;margin-left:60px}
#l2{height:75px;width:90px}
#fn{text-align:center;font-size:0.80em;}
#r{text-align:right}
#scr{padding:0 20px;margin:0;list-style-type:none;width:auto;height:150px}
#scr li{margin:0 4px 5px 4px;float:left}
#scr a{display:block;height:100%;width:100%;border:none !important}
#scr a:hover{background:none}
#scr em{display:none}
.i1,.i2,.i3,.i4{background:url("/img/putty-org-ru-screenshots.jpg") no-repeat;height:145px}
.i1{width:172px;margin-left:0 !important}
.i2{width:200px;background-position:-172px 0}
.i3{width:151px;background-position:-372px 0}
.i4{width:214px;background-position:-523px 0;margin-right:0 !important}
.i1:hover{background-position:0 -146px}
.i2:hover{background-position:-172px -146px}
.i3:hover{background-position:-372px -146px}
.i4:hover{background-position:-523px -146px}
div.img{text-align:center;font-size:0.8em}
div.img img{max-width:90%}
div.img a{border:none !important}
div.img a:hover{background:none !important}
div.img img.thumb:hover{cursor:url(/css/magnify.cur), auto;cursor:-moz-zoom-in;cursor:-webkit-zoom-in;cursor:zoom-in}

#dl,.dl{min-width:200px}
#ld td, .ld td{padding-top:15px}
.current{background:#fff;color:#000 !important}
#dlcontainer {position:relative;border:1px #000 solid;width:550px;height:160px;margin:20px 0}
#dlcontainer div{position:absolute}
#dlcorner{width:39px;height:39px;top:-1px;right:-1px;background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAnAQMAAAC2bcN2AAAABlBMVEX///8UFBR6mdv6AAAAIklEQVRo3mNoYAABBzCpACYFwCQHmGQBk0xgkhFMMgxVDQCEeAT79yOnUwAAAABJRU5ErkJggg==') 0 0 no-repeat}
#dlfdd {background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAF4AAABeCAMAAACdDFNcAAAAb1BMVEUAAAD////q6uro6Ojk5OTj4+Ph4eHf39/e3t7d3d3c3NzY2NjX19fW1tbS0tLR0dHQ0NDPz8/Ozs7MzMy4uLirq6unp6eenp6QkJCPj4+KioqGhoaDg4OBgYF9fX18fHx7e3t5eXlVVVUhISEeHh4XHmQUAAAA2UlEQVR42u3TaQuCUBCF4WmzzfbU9rL8/7+xq93S4k454GDIeb8IcngUuRJV3c1r5RGp+go8Jd4vfifsyvgM3xYWMO+vw798Jf7pS/nJutAX3vpSPnCvAub86PGZr8inviZvfFWeEl2eGsl3uEL3KpTxXa7IvYpk/HJhms9s07xjcZXfPsj4FVfsXsXgwdfKl3kq+H/mEULItOlVEHjw4MGDBw++ofxWl98PHvVLlA2HaSNTerU3eP40riDw4MGD1+T9LA3+jcW3B6/Fn+0xVuIv/uc/Ah7V0x36TKON/qLjewAAAABJRU5ErkJggg==') 0 0 no-repeat;width:94px;height:94px;top:33px;left:32px}
#dlfdd a{display:block;width:100%;height:100%;border:none}
#dlfdd a:hover{background:none}
#dllink1{bottom:100px;left:158px;font-size:1.6em}
#dllink1 a{border:none;border-bottom:2px #b6b6b6 solid !important}
#dlinfo{top:73px;left:158px;font-size:0.85em;text-align:left}
#dlinfo p {margin:4px 0}
#dlinfo span{font-weight:bold}
#legal{position:relative;background:#eee;padding:3px 20px}
#legalcorner{position:absolute;width:39px;height:39px;top:-1px;right:-1px;background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmAQMAAACS83vtAAAABlBMVEX////u7u5x8T/JAAAAR0lEQVR42iXLsQ0AIQwEwS/dpVGKSyB0gLiXhg0m2+9TcbG5OTy8zNMQQwwxxBBDDMmzuNjcHB5e5llcbG4ODy/zLC42N+cHUD1jyWn/ZHMAAAAASUVORK5CYII=') 0 0 no-repeat}
#blog p{margin:0}
#blog h4{margin:15px 0 3px 0}

#sphead{background:#e9e9e9;font-weight:bold;padding:2px 3px;cursor:help}
#spclick{font-family:monospace;font-size:135%;padding:0 5px;}
#sphead,#spbody{margin-left:25px;width:550px;font-size:85%;border:1px #c3c3c3 solid;border-left-width:2px}
#spbody{padding:10px;width:536px;border-top:none}

.shells{border-bottom:1px #000 solid}
.shells a{border:none !important;padding:0 2px}
.shells a:hover{background:#000 !important;color:#fff !important}
.shells div,.shells span{display:block;position:relative;top:3px;height:16px;float:right;font-weight:normal;font-family:serif;font-size:70%;color:#eee;background:#111;padding:2px 4px}

.shos {background:url('/img/unix-icons.png') 0 0 no-repeat;padding-left:20px}
.shdebian{background-position:0 0}
.shfreebsd{background-position:0 -16px}
.shgentoo{background-position:0 -32px}
.shopenbsd{background-position:0 -48px}

* html .shells div, *:first-child+html .shells div{top:-21px}
* html #corner, *:first-child+html #dlcorner {background:url('/img/corner.png') 0 0 no-repeat}
* html #dlfdd, *:first-child+html #dlfdd {background:url('/img/fdd.png') 0 0 no-repeat}
* html #legalcorner, *:first-child+html #legalcorner {background:url('/img/corner-gray.png') 0 0 no-repeat}
*:first-child+html #content {padding-top:45px}
* html #content{position:absolute;margin:0;left:200px;top:30px;padding-top:15px}
* html #scr li{margin:0 14px 5px 14px}

.left {position:absolute;left:-3133px;top:-6553px}
#hashtab{border-bottom-style:dotted !important;cursor:help}
.double{color:#009900 !important;border-bottom:1px #009900 solid !important;text-decoration:underline !important}
.double:hover{border-bottom:2px #009900 solid !important;background:none !important}
#mrlx {margin-top:-40px;float:right;max-width:160px;text-align:justify;font-size:0.7em}
.idc-foot{display:none !important}kbd{background:#000;color:#fff;padding:0px 4px;margin:1px;font:1.2em monospace;cursor:pointer}
kbd:active{color:#000;background:#fff;border:1px #000 solid;margin:0}
#features-nav,#features-nav-faq,#features-nav-themes{height:2em;text-align:center;font-size:0.89em;position:relative}
#features-nav-faq{border-top:1px #ccc solid;padding-top:20px;font-size:1em}
#features-nav-themes{padding-top:20px;font-size:1em}
#features-left{position:absolute;left:0}
#features-left:before{content:"◄ "}
#features-right{position:absolute;right:0}
#features-right:after{content:" ►"}
#features-center{margin:0 auto}
#dl-features a{border:none}
#dl-features td{padding-right:5px}
#dl-features td:before{content:"◽ "}
#dl-features td:hover:before{content:"◾ "}

/**/
#dl-features td{vertical-align:middle !important}#dl-features td div{vertical-align:middle !important}#dl-features td.rs:before{content:''}

.gline,.fline{margin:0px 0 0px 0;border-top:2px #777 solid;border-bottom:2px #777 solid;line-height:1em;background:#000;padding:3px 0;text-align:center;width:100%}
.fline{color:#fff;font-size:0.85em;padding:7px 0}
#rss-link,#rss-link:hover{background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAPAgMAAADbtXRRAAAADFBMVEVjZWP/ZQCMjnv///97FnUsAAAAVElEQVR42mNgQAH2/xHgAINpKAhUrQIBArzS0qvXQ6v2r/q3/hWQF3v1O5C36/WqXSC58NC7YLlf61eB5UAqd69at+oVVN9XoMpf+1eRYh+qO1EAAG7qaGFdYBurAAAAAElFTkSuQmCC') 0 0 no-repeat !important;}
#rss-link{font-size:0.9em;display:block;width:50px;height:15px;border:none !important;}
#pubdate{text-align:right;font-size:0.85em;font-style:italic;color:#666}

#fx{list-style-type:none;border:6px #000 solid;padding:3px;color:#000;margin:0;font-size:1.2em;text-align:left}
#fx li{padding:0 0 0 20px;margin:10px}
#fx .fx_text:first-letter{text-transform: uppercase}
.fx *{background:transparent none repeat scroll 0 0 !important;border:medium none !important;clear:none !important;clip:rect(auto,auto,auto,auto) !important;font-size:100% !important;font-style:normal !important;font-variant:normal !important;font-weight:normal !important;height:auto !important;letter-spacing:normal !important;line-height:normal !important;margin:0 !important;overflow:visible !important;padding:0 !important;position:static !important;text-align:left !important;text-decoration:none !important;text-indent:0 !important;text-transform:none !important;vertical-align:baseline !important;visibility:visible !important;white-space:normal !important;width:auto;word-spacing:normal !important;z-index:auto !important;cursor: pointer !important;word-wrap: break-word !important}
.fx li{display:list-item !important;list-style-image:none !important;list-style-position:outside !important;list-style-type:none !important;display: inline}
.fx li DIV{padding:0.5em !important}
.fx DIV,.fx TABLE{padding: 5px !important}
.fx{width: auto !important;font-family: Verdana !important;font-size: 11px !important;border: 0px solid #fff !important;background-color: #fff !important;padding:5px !important;position: relative !important;display:block !important;}
.fx_icnt,.fx_icnt *{text-align: left !important}
.fx_text,.fx_text A,.fx_text A:hover{color: #666 !important;font-size: 11px !important}
.fx_url{color: #006600 !important;font-size: 11px !important}
.fx_header,.fx_header A{color: #000 !important;font-size: 13px !important;font-weight: bold !important;text-decoration: underline !important}
.fx_sign{color: #999 !important;font-size: 10px !important;text-align: left !important}
.fx_clear{clear:both !important}
.fx TABLE{width: 100% !important;border: 0px !important}

#cl_table{width:100%}
#cl_table td{vertical-align:bottom}
#cl_table ul{margin-bottom:0}
#cl_left {width:10%;padding-right:50px}
#cl_left li{white-space:nowrap !important}
#cl_right {width:90%}
#mc-container{margin-bottom:60px}
#themes-table {width:100%}
#themes-table td {border:1px #fff solid;white-space: nowrap}
#themes-table .brdl,#themes-table .brdr{width:100px !important}
#themes-table .brdr {border-left:10px #fff solid}
#themes-table tr:nth-child(even) {background: #F5F5F5}
#themes-table tr:nth-child(odd) {background: #FFF}
#themes-table th{font-weight:normal;color:#777;font-style:italic}
#themes-table b {font-weight:normal !important}
#themes-table .t_ru{display:none}
#themes-paginator span {color:#fff;background:#000;border:1px black solid;padding: 0 5px;margin-right:5px}
#themes-paginator a,#themes-paginator a:hover,#themes-paginator a:active {border:1px black solid !important;padding: 0 5px}

#file_line {position:relative;width:821px;height:50px;margin-bottom:0px;text-align:center;background:#eee;padding-top:20px}
#file_link {border:none;font-size:160%;font-weight:bold;font-style:italic;font-family:Arial,sans-serif;margin-right:10px;border-bottom:none !important}
#file_link:hover{border:5px #000 solid !important}
#file_table{border-collapse:collapse;width:100%;margin-top:15px;}

#file_table td{vertical-align:middle;text-align:right;padding:15px;}
#file_table td span{height:280px;width:336px;display:inline-block;background:#eee;}
#file_table td.fr{text-align:left}
#counter {font:inherit;text-align:center;width:15px;background:inherit;border:none;color:inherit}

#g_height{display:block;text-align:center;width:160px;height:600px;margin-left:3px;background: #f5f5f5}

.t1 a,#Ya_sync_0 a {text-decoration:none !important;border-bottom:none !important}
.t1 a:hover,#Ya_sync_0 a:hover {background:none !important}
.disqus-footer__wrapper {
display:none!important;
}